
html, .todo
{
    font-family: "Georgia";
    
}

h1 
{
    text-align: center;
    font-size: 200%;
}

h2
{
    text-align: center;
    font-size: 150%;
}

h3
{
    color:darkolivegreen;
}

h4
{
    color: goldenrod;
}

.responsive
{
    max-width: 100%;
    height: auto;
}

.topnav
{
    background-image: url("fondo1.jpg");
    overflow: hidden;
}

.topnav a 
{
    float: right;
    color:rgb(220, 220, 228);
    text-align: center;
    padding: 18px 38px;
    font-size: 16px;
}

.topnav a:hover
{
    background-color:lightslategrey;
    color:black;
}


body
{
    background-color: lightgray;
}

p
{
    font-size: 100%;
}



table
{
    font-size: 80%;
    text-align: left;
}

#titulo
{
    color:darkolivegreen;
}

#Backstory, #Adoptar
{
    display: inline-block;
    width: 38%;
    margin: 5%;
    vertical-align: top;
    text-align: justify;
}

#img, #video
{
    text-align: center;
}

#img
{
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#Bibliografias
{
    font-size: 90%;
    background-image: url("fondo1.jpg");
    padding-top: 6px;
    padding-left: 3px;
    padding-bottom: 3px;
    color: rgb(204, 210, 216);
}
